    <!DOCTYPE html>
    <html lang="tr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>1.Lesson_ng-app_ng-model</title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>

    </head>


    <!-- 
        ANGULARJS:
        AngularJS, google’nin desteklediği, javascript MVC kütüphanesidir. 
        MVC (Modal View Controller) verinin, görünümün ve kontrollerin ayrı tutulmasına dayanmaktadır. 
        Etkileşimli arayüzler yapmayı sağlayan bir Javascript framwork’ü dür.
        Amaç arayüzde kod bloklarını minimum’a indirmek ve daha kararlı bir yapı izleyerek geliştirme süreçlerini kolaylaştırmaktır.

        • Modal: Verilerin tutulduğu nesnelerdir. İlişkili olduğu View nesnesini tetikler.
        • View: Görünümün (template) tutulduğu nesnelerdir.
        • Controller: Modal ve View nesnelerinin bağlandığı nesnedir. İşlemler ve kontroller burada yapılmaktadır.

       jQuery gibi kütüphanelere ihtiyaç duymadan çalışarak tek sayfa uygulamaları geliştirmeye olanak sağlar.
       Bu tarz diğer kütüphanelerden en önemli farkı ise ÇİFT YÖNLÜ olmasıdır. Yani veride olan değişiklik görünüme, görünümde olan değişiklik de veriye uygulanır.
       Directive tanımlayarak html etiketlerini geliştirilmesine de olanak sağlar. Kodların kısalmasını sağlar kod karmaşasını büyük ölçüde önler.


        ♦ ng-app = "" : Body attribute 'ine eklenen ng-app ile angularjs çekirdeğine yorumlayacağı bloğu tanımladık.
          Bunu html etiketine tanımlayabileceğimiz gibi angularJS nin çalışacağı bloğun elementine de tanımlanabilir.
          Tarayıcıya projede AngularJS kullanıldığı bilgisi verilir. AngularJS’in çalışacağı block.

        ♦ ng-model = "" : Adından da anlaşılacağı gibi modelimiz, modelimiz ile ilgili işlemleri yapabilmek için ona atıfta bulunağımız isimdir.

        ♦ ng-bind = "" : Tanımlanan modele bağlanan alan.

        ♦ ng-init = "" : AngularJS’de kullanılacak değişkenlerin tanımlandığı yer (başlangıç değerleri verilebilir).

        ♦ {{ }} : AngularJS expressions ifadelerin tanımlanma şeklidir.



        *** NOT : 
            • Sayfa içerisinde bir değer değiştiği zaman o modele  bu modele bağlı tüm nesneler bundan etkilenmektedir.

     -->


    <body ng-app="">
        
 
        
        <!-- AngularJS'in sayfa içerisinde doğru bir şekilde çalıştığını göstermek için expressions ile matematik işlemi yapılabilir -->
        {{5 + 20}} 
        
        <br>

        <!-- Input alanına yazılan karakterler expressions ifadesiyle ekranda gösterildi -->
        <input type="text" ng-model="textField"> 
        {{textField}}

        <br><br>

        <!-- Input alanına girilen doğum tarihi ile expressions ifadesinde matematiksel işlem yapılarak kullanıcının yaşı gösterildi -->
        <input type="number" ng-model="ageCalculation" placeholder="Doğum Yılı">
        {{2018 - ageCalculation}}



    </body>
</html>


