<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10.Lesson_ng-include</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>

    <script>

        var ControllerExample = angular.module("myapp", []);
        ControllerExample.controller("mycontrol", function ($scope) {

            //Sayfa ifade alanı default myFile.html olarak ayarlandı
            $scope.sayfa = "myFile.htm";

        });
    </script>

</head>


        <!--
        ♦ ng-include = "" : Direktifi ile harici HTML sayfaları mevcut HTML sayfasına dahil edilmektedir.
          Kısacası sürekli tekrarlanan içerikleri farklı sayfalardan alıp başka sayfaya dahil edebilirsiniz.
          Örneğin satış sayfası tasarımı yaparken bir sonraki adıma geçerken site yenilenmeden bir sonraki adıma ait html içeriğini getirebilirsiniz.

          SYNTAX:
          <element ng-include="filename" onload="expression" autoscroll="expression" ></element>
          <ng-include src="filename" onload="expression" autoscroll="expression" ></ng-include>

         NOT: Yazılan dosya yolu '' içerisinde yazılmalıdır ve bir sunucu üzerinde çalışır.
        -->


<body ng-app="myapp" ng-controller="mycontrol">


    <!-- Sayfa yüklenirken myFile.htm sayfasındaki içeriği mevcut index sayfasına getirecektir -->
    <div ng-include="'myFile.htm'"></div>

    <!-- Dinaik olarak butonlar yardımı ile sayfa içerikleri arasında gezinmek için ise: bir default $scope değeri tanımlanıp değiştirilmelidir -->

    <button ng-click="sayfa='myFile.htm'">Sayfa 1</button>
    <button ng-click="sayfa='myFile2.htm'">Sayfa 2</button>

    <div ng-include="sayfa"></div>


</body>

</html>