    <!DOCTYPE html>
    <html lang="tr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>13.Lesson_ng-submit</title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>


        <script>
        
            var ControllerExample = angular.module("myapp", []);
            ControllerExample.controller("mycontrol", function( $scope, $http ){



            $scope.bilgiGonder = function(){

                //$http.post(url).then("Dönencevap")

                $scope.data ={ "userId": 1, "ID":$scope.userID, "MAIL":$scope.userMail};
                
                $http.post("https://jsonplaceholder.typicode.com/todos", $scope.data).then( function( donenDeger){

                    $scope.cevap = donenDeger.data;

                })

            }
               
            });
        </script>


    </head>
    
    <body ng-app="myapp" ng-controller="mycontrol">

        <!-- Submit: ng-submit: function -->
        <form name="myform" ng-submit="bilgiGonder()">

            <input type="text" ng-model="userID" placeholder="Kullanıcı Adı">
            <input type="email" ng-model="userMail" placeholder="Mail Adresi">
            
            <button ng-click="">Giriş Yap</button>


      </form>
      {{cevap}}
    </body>
</html>