<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>17.Lesson_ng-disabled</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>


    <script>

        var ControllerExample = angular.module("myapp", []);
        ControllerExample.controller("mycontrol", function ($scope) {

            $scope.state=true;

        });
    </script>


</head>


<!-- 

         ♦ ng-disabled = "" : Elementin disabled özelliği için bir özellik ayarlanmasını sağlar.

         SYNTAX:
         <input ng-disabled="expression"></input>

    -->


<body ng-app="myapp" ng-controller="mycontrol">

    <p>Nesneleri etkisiz kalın:
        <input type="checkbox" ng-model="gecersizKil">
    </p>

    <input type="text" ng-disabled="gecersizKil" placeholder="Fatura No Girişi">
    <button ng-disabled="gecersizKil">Gönder</button>
    <input type="checkbox" ng-disabled="gecersizKil"> Alarm Oluştur

    <hr>

    <input type="text" ng-model="textField" ng-keyup="state=false" placeholder="Text">
    <button ng-disabled="state || textField.length==0">Gönder</button>

</body>

</html>