    <!DOCTYPE html>
    <html lang="tr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>3.Lesson_ng-app_ng-controller_ng-click_(function)</title>


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>

        <script>
        
            var ControllerExample = angular.module("myapp", []);
            ControllerExample.controller("mycontrol", function( $scope ){



                $scope.exampleValue = "Burada bir değer bulunmaktadır.";

                //-->

                //viewFunction adında bir fonksiyon oluşturuldu
                $scope.viewFunction = function(){

                    alert($scope.exampleValue);

                }

                //-->

                //viewBill fonksiyonu dışarıdan 2 tane parametre alarak bunları ekranda uyarı olarak göstermektedir
                $scope.viewBill = function(ad, soyad){

                alert("Faturayı ödeyen: " + ad + " " + soyad);

                }


            });

        </script>


    </head>


    <!--
        Controller uygulama içindeki veri akışını kontrol etmektedir. Controller, içinde özellik ve fonksiyonları barındırdan bir javascript nesnesidir.
        Her Controller parametre olarak $scope alır. Bir proje içerisinde birden fazla controller oluşturulabilmektedir.

        scope anahtarını modeli tutturmak için kullanılmaktadır. (Model için gerekli olan metodlar da buna dahil) Tutturulan model ileride görüntü(view) tarafından yakalanacaktır.
        Yani controller’a geçilen $scope parametresi modeli tutarak view içinde ulaşımına imkan vermektedir.

        ng-app bir caddeye benzerken ng-controller ise sokaklara benzetilebilir, bir cadde içerisinde birden fazla sokak bulunabilir.
    -->


    <body ng-app="myapp" ng-controller="mycontrol">

        <!--Controller ile tanımlamış olan exampleValue değişkeni ng-bind ile div elementi birbirine bağlandı -->
        <div ng-bind="exampleValue"></div>

        <br>

        <!-- {{expression}} özelliği kullanarak ekranda gösterilebilmektedir -->
        {{exampleValue}}


        <br><br>

        
        <!-- 
            Not:
            Tanımlanan controller body etiketinde olduğu için her yerde kullanılabilmektedir. 
        -->

        <!-- Butona basıldığında viewFunction fonksiyonu sayesinde exampleValue değeri ekranda uyarı olarak gözükecektir -->
        <button ng-click="viewFunction()">Değeri Göster</button>


        <br><br>


        <input type="text" ng-model="ad" placeholder="Adınız">
        <input type="text" ng-model="soyad" placeholder="Soyadınız">

        <!-- Oluşturulan butonun click yapısına control alanında tanımlanan viewBill fonksiyonu yazıldı -->
        <button ng-click="viewBill(ad, soyad)">Ödemeyi Tamamla</button><br>

        <!-- {{expression}} özelliği ile ekranda kullanıcı b anlık olarak bilgilendirildi -->
        Faturayı Ödeyen Kişi: {{ad + " " + soyad}}
        
        

    </body>

</html>