    <!DOCTYPE html>
    <html lang="tr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>5.Lesson_http-get_OrderBy</title>
    

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>


        <script>
        
            var ControllerExample = angular.module("myapp", []);
            ControllerExample.controller("mycontrol", function( $scope, $http ){

                //$http.get("url").then( successfulFunc, unsuccessfulFunc);

                $http.get("https://jsonplaceholder.typicode.com/users").then( function( AlinanDeger ){

                    $scope.veriler = AlinanDeger.data;
                    //Data yazılmaz ise 200 function(d){b||(b=yd(a)); vb bilgilerle birlikte gelir sadece veriler gelsin isteniyorsa data yazılmalıdır.


                });


            });

        </script>


    </head>

    <!--
        $http : XMLHttpRequest alt yapısını kullanan uzak sunucu ile haberleşmek için kullanılan bir servistir. 
        Veri gönderme yada veri okuma işlemleri $http ile gerçekleştirilir.

         orderBy: 'id' ile çıkan soruçlar arasında sıralama yapılır. orderBy: '-id' ile ise tersten sıralama gerçekleştirilir.
    -->


    <body ng-app="myapp" ng-controller="mycontrol">


         
        <!-- Arama yapabilmek için Input alanı eklendi -->
         Users Search: <input type="search" ng-model="userSearch">
        

        <ul>
            <li ng-repeat="veri in veriler | filter: userSearch | orderBy: '-id'" style="padding:20px">
                    {{veri.id}}, {{veri.name}}, {{veri.email}}
            </li>
        </ul>

       

    </body>
</html>