    <!DOCTYPE html>
    <html lang="tr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>6.Lesson_ng-style_ng-show_ng-hide_ng-if</title>
    
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>

        <script>
        
            var ControllerExample = angular.module("myapp", []);
            ControllerExample.controller("mycontrol", function( $scope, $http){

                $scope.startNumber = 0;


                //durum ifadesine default olarak false değeri verildi.
                $scope.durum = false;

                $scope.eylem = function(){
                    
                    $scope.durum =! $scope.durum;

                }

              

            });

        </script>

        <style>

            .myclass{
                width: 53px;
                height: 50px;
            }

        </style>


    </head>


     <!-- 
            ♦ ng-style = "" JSON formatında stil düzenlemeleri yapmaktadır. Bu yöntem html öğesine koşullu bir style tanımlamanızı sağlar.
              startNumber == 5 && ifadesiyle startNumber değişkenin 5 olması durumunda bu style dosyasını aktif yapacaktır. 
        -->


    <body ng-app="myapp" ng-controller="mycontrol">
        

    
        <!-- ng-style = "" ile stil biçimlendirmesi bir koşula atanabilmektedir -->
         <div ng-style = " startNumber == 5 && 
         { 
             'color':'White',
             'background':'red',
             'font-weight':'bold',
             'padding':'5px',
             'font-size':'50px',
             'font-family': 'Verdana'

        }" class="myclass">{{startNumber}}</div>
            <br>
       
         <button ng-click="startNumber = startNumber + 1">+1</button>
         <button ng-click="startNumber = startNumber - 1">-1</button>


         <br><br>


         <!-- HTML elemenleri ng-show ve ng-hide ile ekranda gösterilip, gösterilmemesi sağlanır veya şarta bağlanabilmektedir. -->
         <div ng-show="false">Bu bir yazı örneğidir!</div>
         <div ng-hide="true">Bu bir yazı örneğidir!</div>

         <!-- Controller alanında tanımlanmış bir ifadeye görede koşullar koyulabilmtekdir. -->
         <div ng-show="startNumber==10">Maksimum Sayıya ulaşıldı</div>
         
         <br><br>

         <hr>

         <br><br>

         <button ng-click="eylem()">Göster / Gizle</button> --> {{durum}}
         <div ng-show="durum">Bu gizlenebilen yazı örneğidir!</div>
        
         <!-- 
             ng-show ve ng-hide ile display:none üzerinde görüntüleme işleri yaparken,
             ng-if ise kod üzerinde işlemler yapılmaktadır.
        -->

         <div ng-if="durum">Bu gizlenebilen yazı örneğidir!</div>


    </body>
</html>