<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>6.Lesson_ng-style_ng-show_ng-hide_ng-if</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>

    <script>

        //timeout fonksiyonunu kullanabilmek için $timeout kullanılmalıdır.
        //interval fonksiyonunu kullanabilmek için $interval kullanılmalıdır.

        var ControllerExample = angular.module("myapp", []);
        ControllerExample.controller("mycontrol", function ($scope, $timeout, $interval) {

            //startNumber adında başlangıç bir değer oluşturuldu ve 0 değeri atandı
            $scope.startNumber = 0;


            //durum ifadesine default olarak false değeri verildi.
            $scope.durum = false;

            //hideShowFunction adında fonksiyon tanımlandı
            $scope.hideShowFunction = function () {

                //$scope.durum alanının içine tam tersi değeri atandı
                $scope.durum = !$scope.durum;

            }


            //textField adında alan oluşturularak metin atandı
            $scope.textField = "Bu yazı 2 saniye içinde değişecektir!";

            //timeout fonksiyonu tanımlandı, değer değiştirildi ve süresi girildi
            $timeout(function () {
                $scope.textField = "Yazı 2 saniye sonra değişti!";
            }, 2000);


            //theTime adında değer oluşturularak toLocaleTimeString() değeri atandı
            $scope.theTime = new Date().toLocaleTimeString();

            //interval fonksiyonu tanımlandı, değer değiştirildi ve süresi girildi
            $interval(function () {
                $scope.theTime = new Date().toLocaleTimeString();
            }, 1000);

        });

    </script>

    <style>
        /* class style biçimlendirmesi yapıldı */

        .myclass {
            width: 53px;
            height: 50px;
        }
    </style>


</head>


<!-- 
            ♦ ng-style = "" : JSON formatında stil düzenlemeleri yapmaktadır. Bu yöntem html öğesine koşullu bir style tanımlamanızı sağlar.
              
              SYNTAX: <element ng-style="expression"></element>


            ♦ ng-show = "" :  ve ♦ ng-hide = "" : direktifleri HTML elementlerinin görüntülenip gizlenmesini kontrol etmek için kullanılır.
            
              SYNTAX: <element ng-show="expression"></element>
              SYNTAX: <element ng-hide="expression"></element> 

            ♦ ng-if = "" : Öğeye verilen şart sağlanmassa öğeyi gizlemek yerine DOM yapısından tamamen kaldırır. Şart sağlanırsa yeniden eklenir.

              SYNTAX: <element ng-if="expression"></element> 

              NOT: startNumber == 5 && ifadesiyle startNumber değişkenin 5 olması durumunda bu style dosyasını aktif yapacaktır. 

            ♦ $timeout : Durumlara göre yapılacak işlemlerin veya çalıştırılacak fonksiyonların ertelenmesi sureti ile bir bakıma uygulamada zaman yönetimi sağlayan servisdir. 

              SYNTAX: $timeout([fn], [delay], [invokeApply], [Pass]);

            ♦ $interval : Yapılacak işlem veya çalıştırılacak fonksiyon verilen süreye göre sürekli devam etmektedir.

              SYNTAX: $interval(fn, delay, [count], [invokeApply], [Pass]);
        -->


<body ng-app="myapp" ng-controller="mycontrol">


    <!-- ng-style = "" ile stil biçimlendirmesi bir koşula bağlandı -->
    <div ng-style=" startNumber == 5 && 
         { 
             'color':'White',
             'background':'red',
             'font-weight':'bold',
             'padding':'5px',
             'font-size':'50px',
             'font-family': 'Verdana'

        }" class="myclass">{{startNumber}}</div>
    <br>

    <!-- Butonların ng-click direktifinde sayı arttırma ve azaltma kodu yazıldı -->
    <button ng-click="startNumber = startNumber + 1">+1</button>
    <button ng-click="startNumber = startNumber - 1">-1</button>


    <br>
    <br>


    <!-- HTML elemenleri ng-show ve ng-hide ile ekranda gösterilip, gösterilmemesi sağlanır veya şarta bağlanabilmektedir -->
    <div ng-show="false">Bu bir yazı örneğidir!</div>
    <div ng-hide="true">Bu bir yazı örneğidir!</div>

    <!-- Controller alanında tanımlanmış bir ifadeye görede koşullar koyulabilmtekdir -->
    <div ng-show="startNumber==10">Maksimum Sayıya ulaşıldı</div>

    <br>
    <br>

    <hr>

    <br>
    <br>

    <!-- Butonun ng-click direktifine Controller alanında tanımalanan fonksiyon gönderildi -->
    <button ng-click="hideShowFunction()">
        <span ng-show="!durum">Göster</span>
        <span ng-show="durum">Gizle</span>
    </button> --> {{durum}}
    <div ng-show="durum">Bu gizlenebilen yazı örneğidir!</div>

    <!-- 
             ng-show ve ng-hide ile display:none üzerinde görüntüleme işleri yaparken,
             ng-if ise kod üzerinde işlemler yapılmaktadır. (kodu kaldırmaktadır)
        -->

    <div ng-if="durum">Bu gizlenebilen yazı örneğidir!</div>

    <br>
    <br>
    <hr>
    <br>
    <br>

    <!-- textField değeri ng-bind ile p elementinde gösterildi -->
    <p ng-bind="textField"></p>

    <!-- theTime değeri ng-bind ile p elementinde gösterildi -->
    <p ng-bind="theTime"></p>

    <br>
    <br>
    <hr>
    <br>
    <br>

    <!-- Extra: ng-copy: kopyalama işlemi gerçekleştiğinde çalışmaktadır -->
    <input type="text" ng-copy="copy = true" ng-model="test">
    <div ng-if="copy">Kopyalandı</div>



</body>

</html>