    <!DOCTYPE html>
    <html lang="tr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>9.Lesson_AngularJS-Element</title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>

        <style>
        
            .changeClass{
                color:white;
                background-color: blueviolet;
                font-family: Verdana;
                font-size: 20px;
            }

        </style>


        <script>
        
            var ControllerExample = angular.module("myapp", []);
            ControllerExample.controller("mycontrol", function( $scope ){

                //https://docs.angularjs.org/api/ng/function/angular.element

                $scope.ChangeStyleFunction = function(){
                    angular.element(testdiv).css({ "color":"red", "font-size":"60px", "font-family":"Verdana" });
                }

                $scope.ChangeClassFunction = function(){
                    angular.element(testdiv2).addClass("changeClass");
                }

                $scope.ChangeHtmlFunction = function(){
                    angular.element(testdiv3).html("<h1>HTML Function</h1>");
                }

                $scope.ChangeRemoveFunction = function(){
                    angular.element(testdiv4).remove();
                }
         
            });
        </script>

    </head>

    
    <body ng-app="myapp" ng-controller="mycontrol">


        <!-- jQuery fonksiyonların çalışma mantığı, AngularJS içinde element ile yapılabilmektedir -->

        <!-- CSS ELEMENT - css() - Only retrieves inline-styles, does not call -->
        <div id="testdiv" ng-click="ChangeStyleFunction()">Change Style</div><br>
        
        <!-- addClass ELEMENT - addClass() - Does not support a function as first argument -->
        <div id="testdiv2" ng-click="ChangeClassFunction()">Change Class</div>

        <!-- -->
        <div id="testdiv3" ng-click="ChangeHtmlFunction()">HTML Function</div>

        <!-- -->
        <div id="testdiv4" ng-click="ChangeRemoveFunction()">Remove Class</div>


    </body>
</html>